RewriteEngine On

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^(.+) - [PT,L]

RewriteRule ^css/(.*)$ public/css/$1 [L]
RewriteRule ^img/(.*)$ public/img/$1 [L]
RewriteRule ^js/(.*)$ public/js/$1 [L]
RewriteRule ^uploads/(.*)$ public/uploads/$1 [L]

RewriteRule ^(.*)$ index.php
