#menu nav {
  margin:50px; 
  text-align:center;
}

#menu nav ul ul {
  display:none;
}

#menu nav ul li:hover > ul {
  display:block;
}

#menu nav ul {
  width:960px;
  border:1px solid #cccccc;
  padding:0px;
  border-radius:10px;
  list-style:none;
  position:relative;
  display:inline-table;
}

#menu nav ul:after {
  content:"";
  clear:both;
  display:block;
}

#menu nav ul li {
  float:left;
}

#menu nav ul li.right {
  float:right;
}

#menu nav ul li span {
  display:block;
  padding:10px 10px;
  color:#000000;
  cursor:default;
  text-decoration:none;
}

#menu nav ul li a {
  display:block;
  padding:10px 10px;
  color:#000000;
  text-decoration:none;
}

#menu nav ul li a:hover {
  text-decoration:underline;
}

#menu nav ul ul {
  width:200px;
  border:1px solid #cccccc;
  background:#ffffff;
  border-radius:0px;
  padding:0;
  position:absolute;
  top: 100%;
}

#menu nav ul ul li {
  float:none;
  position:relative;
}
#menu nav ul ul li a {
  padding:10px 10px;
  text-align:left;
}

#menu nav ul ul li a:hover {
  text-decoration:underline;
}

#menu nav ul ul ul {
  position:absolute;
  left:100%;
  top:0;
}
